<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/style.css" rel="stylesheet" />
        <title>Petition</title>
    </head>
    <body>
        <header></header>
        <h1>This is the Main Handler</h1>
        {{{body}}}
        <footer>All © Copy Rights Reserved.</footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>