<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/style.css" rel="stylesheet" />
        <title>{{title}}</title>
    </head>
    <body>
        <header></header>
        <p id="quote">“What we are doing to the forests of the world is but a
            mirror reflection of what we are doing to ourselves and to one
            another.” ― Chris Maser<br />
            <br /></p>


        {{{body}}}
        {{! <footer>All © Copy Rights Reserved.</footer> }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>
</html>