<p id="Login">Login to sign:</p>
<div id="error">
    {{#if error}}
        <h2>Error! Please Try Again.</h2>
    {{/if}}
</div>
<div class="login">
    <form method="POST">
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" /><br />
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" /><br />
        <br />
        <button>Login</button>
    </form>
</div>