<p id="profile">Personal Profile:</p>
{{#if err}}
    <h1>Error, please try again.</h1>
{{/if}}
<div class="Profile">
    <form method="POST">
        <label for="age">Age:</label><br />
        <input
            type="text"
            id="age"
            name="age"
            placeholder="How old are you?"
        /><br />
        <label for="city" placeholder="Where are you from?">City:</label><br />
        <input type="text" id="city" name="city" /><br />
        <label for="url" placeholder="Link to your page">URL:</label><br />
        <input type="text" id="url" name="url" /><br />
        <button>Submit</button>
    </form>
</div>