<div id="error">
    {{#if err}}
        <h2>Error! Please Try Again.</h2>
    {{/if}}
</div>
<form method="POST">
    <label for="fname">First name:</label><br />
    <input type="text" id="fname" name="fname" /><br />
    <label for="lname">Last name:</label><br />
    <input type="text" id="lname" name="lname" /><br />
    <label for="email">Email:</label><br />
    <input type="text" id="email" name="email" /><br />
    <label for="password">Password:</label><br />
    <input type="password" id="password" name="password" /><br />
    <button>Submit</button>
</form>
<p>If already a member, click on login</p>
<a href="/login">Login</a>