<h1>Thank you for signing up 😊</h1>
<img src={{dataUrl}} alt="Image of Signature" />
<a href="/signers">People who signed {{numOfSigners}}!</a>
<a href="/edit">Edit your profile</a>
<a href="/delete">Delete your profile</a>