body {
    background-color: rgb(177, 239, 177);
    border: 2px solid yellow;
    margin: 2px;
    height: 700px;
}
#sign {
    background-color: #fff;
    margin: 5px;
    margin-left: 0px;
    border: 1px black dotted;
}
footer {
    height: 15px;
    bottom: 10px;
}
